<div class="container">
  
  {{!-- Row de los datos del almacen Norte --}}
  <div class="row m-1"> 
    <div class="col-lg-8 col-md-12 col-sm-12 mt-3">
      <div class="card border-light">
        <div class="card-header text-center">
          Inventario del Almacen Norte
        </div>
        <div class="card-body">
          <table class="table text-center table-striped table-hover table-wrapper table-responsive">
            <thead class="thead-dark">
              <tr>
                <th>Código</th>
                <th style="width: 50%">Producto</th>
                <th>Cantidad de Lotes</th>
                <th>Tipo de Producto</th>
              </tr>
            </thead>
            <tbody>
              {{#each productos_norte}}
              <tr>
                <td>{{codigo}}</td>
                <td>{{nombre}}</td>
                {{#if cantidad}}
                    <td>{{cantidad}}</td>
                {{else}}
                    <td>No hay en stock</td>
                {{/if}}
                <td>{{tipo}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mt-3">
      <div class="card-header text-center">
        Instrucciones del Almacen Norte por Autorizar
      </div>
      <div class="table-wrapper">
      {{#if instrucciones_norte}}
        {{#each instrucciones_norte}}
          <div class="card border-light mt-3">
            <h5 class="card-header text-white bg-primary">{{tipo}}</h5>
            <div class="card-body">
              <h5 class="card-title">Producto: {{producto}}.</h5>
              <h5 class="card-title">Cantidad: {{cantidad}} Lotes.</h5>
              <p class="card-text">{{especificacion}}.</p>
            </div>
            <div class="centrar-boton">
              <form action="/administrador/autorizar/{{id}}" method="POST">
                <button type="submit" class="btn btn-outline-dark m-2">Autorizar</button>
              </form>
              <form action="/administrador/denegar/{{id}}" method="POST">
                <button type="submit" class="btn btn-outline-dark m-2">Denegar</button>
              </form>
            </div>
          </div>
        {{/each}}
      {{else}}
      </div>
      <h5 class="centrar-boton" style="font-size: 110%;">No hay instrucciones pendientes</h5>
      {{/if}}
    </div>
  </div>
  
  {{!-- Row de los datos del almacen sur --}}
  <div class="row p-3"> 
    <div class="col-lg-8 col-md-12 col-sm-12 mt-2">
      <div class="card border-light">
        <div class="card-header text-center">
          Inventario del Almacen Sur
        </div>
        <div class="card-body">
          <table class="table text-center table-striped table-hover table-wrapper table-responsive">
            <thead class="thead-dark">
              <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Cantidad de Lotes</th>
                <th>Tipo de Producto</th>
              </tr>
            </thead>
            <tbody>
              {{#each productos_sur}}
              <tr>
                <td>{{codigo}}</td>
                <td>{{nombre}}</td>
                {{#if cantidad}}
                    <td>{{cantidad}}</td>
                {{else}}
                    <td>No hay en stock</td>
                {{/if}}
                <td>{{tipo}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
      <div class="card-header text-center">
        Instrucciones del Almacen Sur por Autorizar
      </div>
      <div class="table-wrapper">
      {{#if instrucciones_sur}}
        {{#each instrucciones_sur}}
          <div class="card border-light mt-3">
            <h5 class="card-header text-white bg-primary">{{tipo}}</h5>
            <div class="card-body">
              <h5 class="card-title">Producto: {{producto}}.</h5>
              <h5 class="card-title">Cantidad: {{cantidad}} Lotes.</h5>
              <p class="card-text">{{especificacion}}.</p>
            </div>
            <div class="centrar-boton">
              <form action="/administrador/autorizar/{{id}}" method="POST">
                <button type="submit" class="btn btn-outline-dark m-2">Autorizar</button>
              </form>
              <form action="/administrador/denegar/{{id}}" method="POST">
                <button type="submit" class="btn btn-outline-dark m-2">Denegar</button>
              </form>
            </div>
          </div>
        {{/each}}
      {{else}}
      </div>
      <h5 class="centrar-boton" style="font-size: 110%;">No hay instrucciones pendientes</h5>
      {{/if}}
    </div>    
  </div>

  {{!-- Row de las tareas registradas --}}
  <div class="row p-3">
    <div class="col mx-auto">
      <div class="card border-light mb-3" >
        <div class="card-header text-center">
          Registro de instrucciones
        </div>
        <div class="card-body">
        {{#if instrucciones}}
          <ul class="list-group list-group-flush"></ul>
            {{#each instrucciones}}
              <li class="list-group-item">ID: {{id}} {{tipo}} de {{producto}} por una cantidad de {{cantidad}} lote(s) - Instrucción: {{estatus}} en Almacen {{almacen}}.</li>              
            {{/each}}
          </ul>
        {{else}}
        </div>
        <h4 class="centrar-boton">No hay instrucciones registradas</h4>
        {{/if}}
      </div>
    </div>
  </div>

</div>
