<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand active" href="/">Home</a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <ul class="navbar-nav">
        {{#each rutas_home}}
          <li class="nav-item">
            <a class="nav-link active" href={{ruta}}>{{nombre}}</a>
          </li>
        {{/each}}
        {{#with ruta_login}}
          <li class="nav-item">
            <a class="nav-link active" href={{ruta}}>{{nombre}}</a>
          </li>
        {{/with}}
      </ul>
    </ul>
  </div>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    {{#each rutas_contacto}}
      <li class="nav-item">
        <a class="nav-link active p-2" href="{{ruta}}">{{nombre}}</a>
      </li>
    {{/each}}
  </ul>
</nav>
